Repository codefresh-io/gitops-runtime-helm, changes with the owners that CODEOWNERS names for each.
All owners: @codefresh-io/teamleads, @codefresh-io/DevOps, @dmaizel, @eti-codefresh, @chen-keinan, @scme0

upd cap-app-proxy
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

override redis image with 8.2.2-alpine
  charts/gitops-runtime/values-ha.yaml
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

bump app proxy (#855)
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

app-proxy: 1.3866.0 with disabled app validation request
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

upd cap-app-proxy (#864)
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

Update Chart.yaml and changelog for 0.24.6 release
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

upd docs
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

override redis-ha image with 8.2.2-alpine
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

app-proxy: rbac added list permisisons for eventbus
  charts/gitops-runtime/templates/_components/cap-app-proxy/_rbac.yaml
Owners: @codefresh-io/DevOps

bump argo-cd chart to 3.1.5 sync based
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

bump argo-cd chart to 3.1.5 sync based
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

bump argo-cd chart to 3.1.5 sync based
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

CI Automatic commit - align Chart version
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

fix(app-proxy): added missing eventbus list permissions (#865)
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/templates/_components/cap-app-proxy/_rbac.yaml
Owners: @codefresh-io/teamleads, @codefresh-io/DevOps

Update Chart.yaml and changelog for 0.24.7 release
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

Update Chart.yaml
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

feat: switched to OSS Argo CD and Argo Helm, removed Argo CD CF specific values from va… (#823)
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/values-ha.yaml
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

feat: update crd
  charts/gitops-runtime/templates/_components/gitops-operator/crds/promotiontasks.yaml
Owners: @codefresh-io/DevOps, @dmaizel, @eti-codefresh, @chen-keinan, @scme0

feat: update operator tag
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

bumps argo helm chart to image that fixes validateDestination
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

feat: update promotion task crd (#872)
  charts/gitops-runtime/templates/_components/gitops-operator/crds/promotiontasks.yaml
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/DevOps, @dmaizel, @eti-codefresh, @chen-keinan, @scme0, @codefresh-io/teamleads

bumps argo helm chart to image that fixes validateDestination
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

bumps argo helm chart to image that fixes validateDestination
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

update to 2.0.0
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

Update Chart.yaml and changelog for 0.25.0 release
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

bumps argo helm chart to image that fixes validateDestination (#874)
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
Owners: @codefresh-io/teamleads

Update Chart.yaml and changelog for 0.25.0 release
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

Update Chart.yaml and changelog for 0.24/CR-31388-security-fix.0 release
  charts/gitops-runtime/Chart.yaml
  charts/gitops-runtime/README.md
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

app-proxy: 1.3883.0 with application logs supported in non-controller namespace
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

app-proxy: 1.3883.0 with application logs supported in non-controller namespace (#878)
  charts/gitops-runtime/values.yaml
Owners: @codefresh-io/teamleads

Update Chart.yaml and changelog for 0.25.0 release
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

Update Chart.yaml and changelog for 0.25.0 release
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

chore: update artifacthub.io/changes
  charts/gitops-runtime/Chart.yaml
Owners: @codefresh-io/teamleads

feat: gitops-runtime-helm-releases index file builde (github action)
  .github/scripts/release-index/.gitignore
  .github/scripts/release-index/build-releases.js
  .github/scripts/release-index/package-lock.json
  .github/scripts/release-index/package.json
  .github/workflows/release-index.yaml
Owners: @codefresh-io/DevOps

refactor: prettier
  .github/scripts/release-index/.gitignore
  .github/scripts/release-index/build-releases.js
  .github/workflows/release-index.yaml
Owners: @codefresh-io/DevOps

fix: update GitHub token reference in release index workflow
  .github/workflows/release-index.yaml
Owners: @codefresh-io/DevOps

chore: update release index workflow to specify working directory and cache dependency path
  .github/workflows/release-index.yaml
Owners: @codefresh-io/DevOps

trigger
  .github/workflows/release-index.yaml
Owners: @codefresh-io/DevOps

feat: add artifact upload step to release index workflow
  .github/workflows/release-index.yaml
Owners: @codefresh-io/DevOps

CODEOWNERS:

*                                @codefresh-io/teamleads

.github                          @codefresh-io/DevOps

# any change to the chart should go through devops
/charts/gitops-runtime/templates @codefresh-io/DevOps
/charts/gitops-runtime/tests     @codefresh-io/DevOps

# gitops operator crd changes can be approved by some other people
/charts/gitops-runtime/templates/_components/gitops-operator/crds @codefresh-io/DevOps @dmaizel @eti-codefresh @chen-keinan @scme0
